<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example.repository">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    </context:component-scan>

    <!--Injected classes-->
    <bean name="employeeService" class="org.example.service.Implement.EmployeeServiceImpl">
        <constructor-arg name="employeeRepository" ref="employeeRepository"/>
    </bean>
    <bean name="departmentService" class="org.example.service.Implement.DepartmentServiceImpl">
        <constructor-arg name="departmentRepository" ref="departmentRepository"/>
    </bean>
</beans>